.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FF4444; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
	margin-left:89%;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.index {
	background-image:url(background.jpg);
	 -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}

.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 88%;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

.table a {
  margin-right:5%;
}

.table th {
	font-weight: bold;
	font-size: 12px;
	background: #524c4c;
	border: 1px solid #dddddd;
	color: #ece8e8;
}
.table td{
	border: 1% solid #eee;
	text-align: center;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #ffffff;
}

.main_rep {
	background-image:url(back.jpg);
	 -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
	
}

.form {
         width: 300px; 
         padding: 32px; 
         border-radius: 10px; 
         box-shadow: 0 4px 16px #ccc; 
         font-family: sans-serif; 
         letter-spacing: 1px;
		 background-color:#ffffff;
		 margin-left:37%;
		 margin-top:10%;
 }
 
 .form_title { 
         text-align: center; 
         margin: 0 0 32px 0; 
         font-weight: normal;
 }
 
 .form_button {
         padding: 10px 20px;
         border: none; 
         border-radius: 5px; 
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16px;
         color :#fff ; 
         background-color: #0071f0; 
         outline: none;
         cursor: pointer; 
         transition: 0.3s;
 }
 
.form_grup {
         position: relative; 
         margin-bottom: 32px;
}

.form_input {
         width: 100%;
         padding: 0 0 10px 0;
         border: none; 
         border-bottom: 1px solid #e0e0e0; 
         background-color: transparent; 
         outline: none;
         transition: 0.3s;
 }

.form_label {
         top: 0; 
         z-index: -1;
         color: #9e9e9e;
         transition: 0.3s;
 }
 
.form_button:focus,
.form_button:hover{
         background-color: rgba(0, 113, 240, 0.7); 
 }
 
 .form_input:focus {
         border-bottom: 1px solid #1a73a8;
 }
 
.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
         top: -18px;
         font-size:12px;
         color: #e0e0e0;
 }
 
 