<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href ="static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body class = "index">
<div id="header">
    <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link " href="/recipients">Получаетели </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="'/recipient/create'">Добавить получателя</a>
        </li>
    </ul>
</div>
</body>
</html>