<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href ="static/css/recipient.css" th:href="@{/css/recipient.css}">
  <link rel="stylesheet" type="text/css" href ="css/recipient.css">
</head>
<body class="main_rep">
<table class="table">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Электронная почта</th>
    <th>Изменить</th>
    <th>Удалить</th>
  </tr>
  <tr th:each="recipient : ${recipients}">
    <td th:text="${recipient.getFirstname()}"></td>
    <td th:text="${recipient.getLastname()}"></td>
    <td th:text="${recipient.getEmail()}"></td>
    <td><a th:href="'/recipient/edit/' + ${recipient.getId()}"><img src="css/edit.jpg" width="25" height="25" alt="Изменить"></a></td>
    <td><a th:href="'/recipient/delete/' + ${recipient.getId()}"><img src="css/delete.jpg" width="25" height="25" alt="Удалить"></a></td>
  </tr>

</table>

<div class="sidenav">
  <a href="/">Главная</a>
  <a th:href="'/recipient/create'">Добавить получателя</a>
</div>
</body>
</html>