<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href ="static/css/recipient.css" th:href="@{/css/recipient.css}"/>
<link rel="stylesheet" type="text/css" href ="css/recipient.css"/>
</head>
<body class="main_rep">
<div class="sidenav">
  <a href="/">Главная</a>
  <a th:href="'/recipients'">Получатели</a>
</div>
<form action="#" th:action="@{'/recipient/save/' + ${recipient.id}}" th:object="${recipient}" method="post" class="form">
<h1 class="form_title">Добавить получателя</h1>
  <div class="form_grup">
    <label class="form_label">Имя получателя:<input class="form_input" placeholder=" " type="text" name="firstname" th:value="${recipient.firstname}"/></label>
  </div>
  <div class="form_grup">
    <label class="form_label">Фамилия получателя:<input class="form_input" placeholder=" " type="text" name="lastname" th:value="${recipient.lastname}"/></label>
  </div>
  <div class="form_grup">
    <label class="form_label">Email получателя:<input class="form_input" placeholder=" " type="text" name="email" th:value="${recipient.email}"/></label>
  </div>
  <div>
    <button type="submit" class="form_button">Сохранить</button>
  </div>
</form>
</body>
</html>
